
.slider-block{
	height:350px;
	display:inline-block;
}
.carousel {
	height:100%;
}
.carousel .carousel-inner{
  height:200px;
  background-color: lightgreen;
  text-align: center;
}

.carousel .item{
	background-repeat:no-repeat;
	background-size:cover;
  background-position:center center;
  background-color: lightgreen;
	width:100%;
	
}
.form-group {
	border-radius: 25px;
	border: 2px solid lightgreen ;
	padding: 20px;
}
input[type="radio"] {
	margin-right: 10px;
}
